<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833947949628-efit01heb8qcfp045ic4j742ifdrlp60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833947949628-efit01heb8qcfp045ic4j742ifdrlp60</string>
	<key>API_KEY</key>
	<string>AIzaSyAfdlUkeD25FvuwgWkFwVxsI7OH1lJhw3s</string>
	<key>GCM_SENDER_ID</key>
	<string>833947949628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alarmyou</string>
	<key>PROJECT_ID</key>
	<string>alarm-you</string>
	<key>STORAGE_BUCKET</key>
	<string>alarm-you.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833947949628:ios:f43921839413402e308139</string>
</dict>
</plist>